@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicBook.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicLight.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicMedium.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicDemi.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicHeavy.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicBold.woff")
      format("woff");
}

@font-face {
  font-family: "Futura PT Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"),
    url("../font/futura-pt-cufonfonts-webfont/FuturaCyrillicExtraBold.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    .container {
      min-height: 6277px;
      background: url("../image/Backgroundimage.svg") no-repeat;
      background-size: cover;
      padding: 43px 0%;
      max-height: 6277px;

      header {
        padding: 0 20%;

        @media screen and (max-width: 722px) {
          padding: 0 5%;
        }
        nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 68px;

            @media only screen and (max-width: 768px) {
              width: 203px;
              height: 44.82px;
            }

            img {
              width: 100%;
              height: 100%;
              margin-top: 15px;
              margin-left: -10px;
            }
          }
          .telegram {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 55.96px;
            height: 55.96px;

            @media only screen and (max-width: 768px) {
              width: 45px;
              height: 45px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .header_title {
          margin-top: 15px;
          width: 100%;

          @media only screen and (max-width: 768px) {
            margin-top: 40px;
          }
          span {
            display: block;
            text-align: center;
            &:first-of-type {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 300;
              font-size: 40px;
              line-height: 51px;
              text-align: center;
              color: #16171b;

              @media screen and (max-width: 1200px) {
                font-size: 32px;
              }
              @media screen and (max-width: 992px) {
                font-size: 22px;
              }
            }
            &:last-of-type {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: bold;
              font-size: 40px;
              line-height: 51px;
              text-align: center;
              color: #16171b;

              @media screen and (max-width: 1200px) {
                font-size: 32px;
              }
              @media screen and (max-width: 992px) {
                font-size: 22px;
              }
            }
          }
        }
      }

      main {
        .section_Hero {
          padding-left: 20%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          @media only screen and (max-width: 768px) {
            padding: 0 5%;
          }

          @media only screen and (max-width: 600px) {
            flex-direction: column;
            gap: 40px;
          }

          .section_Hero_title {
            width: 50%;
            border: inherit;

            @media only screen and (max-width: 600px) {
              width: 100%;
              text-align: center;
            }
            h3 {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 100%;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #16171b;
              margin-top: 57px;

              @media screen and (max-width: 1200px) {
                font-size: 26px;
              }
              @media screen and (max-width: 992px) {
                font-size: 22px;
              }
              @media only screen and (max-width: 768px) {
                margin-top: 80px;
                margin-bottom: 30px;
              }
            }
            h1 {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 450;
              font-size: 80px;
              line-height: 100%;
              color: #16171b;

              span {
                display: inline-block;
                background: linear-gradient(
                  95.98deg,
                  #a169f7 1.6%,
                  #00aaff 24.24%,
                  #ff6163 50.71%,
                  #97cf26 68.48%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
              }

              @media screen and (max-width: 1200px) {
                font-size: 66px;
              }
              @media screen and (max-width: 992px) {
                font-size: 42px;
              }
            }
            p {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 38px;
              color: #16171b;

              @media screen and (max-width: 1200px) {
                font-size: 24px;
              }
              @media screen and (max-width: 992px) {
                font-size: 20px;
              }
            }
            .section_Hero_title_btn {
              max-width: 242px;
              margin-top: 24px;
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 31px;
              text-align: center;
              color: #ffffff;
              background: #5956e9;
              border-radius: 21px;
              padding: 19px 25px;
              cursor: pointer;

              @media screen and (max-width: 1200px) {
                font-size: 20px;
                padding: 16px 20px;
              }
              @media screen and (max-width: 992px) {
                font-size: 16px;
                padding: 10px 13px;
                max-width: 202px;
              }
              @media screen and (max-width: 600px) {
                margin: auto;
                margin-top: 24px;
              }
            }
          }
          .section_Hero_img {
            width: 50%;
            border: inherit;
            margin-top: -30px;

            @media only screen and (max-width: 768px) {
              margin: 0;
              align-self: center;
            }
            @media only screen and (max-width: 600px) {
              width: 100%;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .section_try {
          display: grid;
          justify-content: center;

          img {
            margin-top: 5px;
            justify-self: center;

            @media only screen and (max-width: 600px) {
              display: none;
            }
          }

          .section_try_content {
            background: url("../image/Test.svg") no-repeat;
            background-size: 100% 100%;
            width: 737px;
            height: 264.43px;
            margin-top: 30px;

            @media screen and (max-width: 1200px) {
              width: 537px;
            }
            @media screen and (max-width: 992px) {
              width: 337px;
            }
            @media screen and (max-width: 400px) {
              width: 300px;
            }
            @media screen and (max-width: 315px) {
              width: 250px;
            }

            h2 {
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 450;
              font-size: 57.1733px;
              line-height: 83px;
              text-align: center;
              color: #fab8c4;
              margin-top: 20px;
              margin-left: -140px;

              @media screen and (max-width: 1200px) {
                font-size: 40px;
                line-height: 63px;
                margin-top: 50px;
              }
              @media screen and (max-width: 992px) {
                font-size: 26px;
                line-height: 33px;
                margin-top: 80px;
                margin-left: -70px;
              }
              @media screen and (max-width: 315px) {
                font-size: 22px;
                margin-top: 90px;
                margin-left: -40px;
              }

              span {
                font-family: "Futura PT";
                font-weight: 400;
                font-size: 35.75px;
                line-height: 51.71px;
                text-align: center;
                color: #fff;

                @media screen and (max-width: 1200px) {
                  font-size: 26px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 20px;
                }
                @media screen and (max-width: 400px) {
                  font-size: 14px;
                }
                @media screen and (max-width: 315px) {
                  font-size: 13px;
                }
              }
            }
          }
        }
        .section_advantages {
          padding: 55px 20%;
          margin: auto;

          @media screen and (max-width: 722px) {
            padding: 55px 5%;
          }

          .section_advantages_title {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 600;
            font-size: 72px;
            line-height: 100%;
            text-align: center;
            color: #27272e;
            margin-bottom: 40px;

            @media screen and (max-width: 1200px) {
              font-size: 50px;
            }
            @media screen and (max-width: 992px) {
              font-size: 36px;
            }
          }
          .section_advantages_row {
            border: inherit;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;

            .section_advantages_row_col {
              border: inherit;
              text-align: center;

              h3 {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 450;
                font-size: 64px;
                line-height: 82px;
                color: #16171b;
                text-align: left;
                @media screen and (max-width: 1200px) {
                  font-size: 52px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 40px;
                  text-align: center;
                }
              }
              h4 {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 300;
                font-size: 32px;
                line-height: 41px;
                color: #16171b;
                text-align: left;
                @media screen and (max-width: 1200px) {
                  font-size: 22px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 16px;
                  text-align: center;
                }
              }
              p {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 31px;
                color: #16171b;
                text-align: left;
                @media screen and (max-width: 1200px) {
                  font-size: 20px;
                  text-align: center;
                }
                @media screen and (max-width: 992px) {
                  font-size: 14px;
                  text-align: center;
                }
                span {
                  font-family: "Futura PT Bold";
                  font-weight: 500;
                  line-height: 30.77px;
                }
              }

              &:nth-last-of-type(1),
              &:nth-last-of-type(2) {
                margin-top: 100px;
              }
              @media screen and (max-width: 1061px) {
                &:nth-of-type(1) {
                  grid-area: myCol1;
                  margin-bottom: 57px;
                }
                &:nth-of-type(2) {
                  grid-area: myCol2;
                }
                &:nth-of-type(3) {
                  grid-area: myCol3;
                }
                &:nth-of-type(4) {
                  grid-area: myCol4;
                  margin-bottom: 57px;
                }
                &:nth-of-type(5) {
                  grid-area: myCol5;
                  margin-bottom: 57px;
                }
                &:nth-of-type(6) {
                  grid-area: myCol6;
                }
                &:nth-of-type(7) {
                  grid-area: myCol7;
                }
                &:nth-of-type(8) {
                  grid-area: myCol8;
                  margin-bottom: 57px;
                }
                &:nth-of-type(9) {
                  grid-area: myCol9;
                  margin-bottom: 57px;
                }
                &:nth-of-type(10) {
                  grid-area: myCol10;
                }
              }

              @media only screen and (max-width: 768px) {
                &:nth-of-type(2) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(3) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(6) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(7) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(10) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }

              @media only screen and (max-width: 600px) {
                &:nth-of-type(2) {
                  width: 40%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(3) {
                  width: 40%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(6) {
                  width: 40%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(7) {
                  width: 40%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(10) {
                  width: 40%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }

              @media only screen and (max-width: 500px) {
                &:nth-of-type(2) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(3) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(6) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(7) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(10) {
                  width: 50%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }

              @media only screen and (max-width: 300px) {
                &:nth-of-type(2) {
                  width: 60%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(3) {
                  width: 60%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(6) {
                  width: 60%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(7) {
                  width: 60%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-of-type(10) {
                  width: 60%;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                &:nth-last-of-type(2) {
                  margin-top: -5px;
                }
              }
            }
            @media screen and (max-width: 1061px) {
              grid-template-columns: 1fr;
              grid-template-areas:
                "myCol2"
                "myCol1"
                "myCol3"
                "myCol4"
                "myCol6"
                "myCol5"
                "myCol7"
                "myCol8"
                "myCol10"
                "myCol9";
            }
          }
        }
        .section_price {
          background-color: #d8e1e8;
          padding: 0 10%;
          height: 803px;
          background: url("../image/Mask_group.svg") no-repeat;
          background-size: 100%;
          background-origin: border-box;
          border-radius: 144px;
          margin-top: 96px;

          @media screen and (max-width: 722px) {
            padding: 0 5%;
            min-height: 803px;
            width: 100%;
            background: #fff;
            border-radius: 0;
          }

          h1 {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 500;
            font-size: 72px;
            line-height: 100%;
            text-align: center;
            color: #27272e;

            @media screen and (max-width: 1200px) {
              font-size: 52px;
            }
            @media screen and (max-width: 992px) {
              font-size: 40px;
            }
          }

          .section_price_row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27.21px;
            margin-top: 155px;

            @media screen and (max-width: 941px) {
              grid-template-columns: 1fr;
            }

            @media screen and (max-width: 600px) {
              margin-top: 50px;
            }

            .section_price_row_col {
              padding: 34px 31px;
              background-color: #27272e;
              border-radius: 28px;

              h2 {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 450;
                font-size: 64px;
                line-height: 82px;
                text-align: center;
                color: #fab8c4;

                @media screen and (max-width: 1200px) {
                  font-size: 52px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 40px;
                }
              }

              span {
                display: block;
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 46px;
                text-align: center;
                color: #ffffff;
                margin-top: 5px;

                @media screen and (max-width: 1200px) {
                  font-size: 28px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 20px;
                }
              }
              p {
                font-family: "Futura PT";
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 26px;
                color: #ababab;
                margin-top: 19px;

                @media screen and (max-width: 1200px) {
                  font-size: 16px;
                }
                @media screen and (max-width: 992px) {
                  font-size: 14px;
                }
              }

              &:nth-of-type(3) {
                background-color: #5956e9;

                h2 {
                  color: #fff;
                }
                span {
                  color: #fff;
                }
                p {
                  color: #fff;
                }
              }
            }
          }
          h4 {
            margin-top: 70px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 450;
            font-size: 48px;
            line-height: 100%;
            text-align: center;
            color: #27272e;

            @media screen and (max-width: 1200px) {
              font-size: 42px;
            }
            @media screen and (max-width: 992px) {
              font-size: 36px;
            }
          }
          h3 {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 450;
            font-size: 54.4954px;
            line-height: 150%;
            text-align: center;
            color: #5956e9;
            margin-top: 15px;
            @media screen and (max-width: 1200px) {
              font-size: 48px;
            }
            @media screen and (max-width: 992px) {
              font-size: 36px;
            }

            @media screen and (max-width: 600px) {
              font-size: 22px;
            }
          }
        }
        .section_personalCabinet {
          padding: 0 20%;
          margin-top: 154px;

          @media screen and (max-width: 722px) {
            padding: 0 5%;
          }
          @media screen and (max-width: 992px) {
            margin-top: 554px;
          }

          p {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 51px;
            text-align: center;
            color: #16171b;
            margin-bottom: 77px;

            @media screen and (max-width: 1200px) {
              font-size: 36px;
            }
            @media screen and (max-width: 992px) {
              font-size: 32px;
            }
          }
          h2 {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 450;
            font-size: 64px;
            line-height: 100%;
            text-align: center;
            color: #16171b;

            @media screen and (max-width: 1200px) {
              font-size: 56px;
            }
            @media screen and (max-width: 992px) {
              font-size: 48px;
            }
            @media screen and (max-width: 600px) {
              font-size: 32px;
            }
          }
          .section_personalCabinet_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 43px;

            @media screen and (max-width: 1200px) {
              flex-direction: column;
            }

            .section_personalCabinet_row_col {
              &:nth-of-type(1) {
                width: 50%;
                form {
                  padding: 41px 50px;
                  background-color: #fff;
                  border-radius: 27px;
                  margin-top: 81px;

                  h3 {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 62px;
                    text-align: center;
                    color: #16171b;

                    @media screen and (max-width: 1200px) {
                      font-size: 42px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 36px;
                    }
                    @media screen and (max-width: 600px) {
                      font-size: 30px;
                    }
                  }

                  label {
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 31px;
                    color: #16171b;

                    @media screen and (max-width: 1200px) {
                      font-size: 20px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 18px;
                    }
                  }
                  input[type="text"] {
                    width: 100%;
                    border: 1px solid #d6e0e7;
                    border-radius: 15px;
                    padding: 15px 24px;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 26px;
                    color: #778f9d;

                    @media screen and (max-width: 1200px) {
                      font-size: 18px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 16px;
                    }

                    &::placeholder {
                      font-family: "Futura PT";
                      font-style: normal;
                      font-weight: 300;
                      font-size: 20px;
                      line-height: 26px;
                      color: #778f9d;

                      @media screen and (max-width: 1200px) {
                        font-size: 18px;
                      }
                      @media screen and (max-width: 992px) {
                        font-size: 16px;
                      }
                    }
                  }
                  label[for="allow"] {
                    display: inline-block;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 21px;
                    color: #16171b;
                    margin-left: 17px;
                    transform: translateY(-9px);

                    @media screen and (max-width: 1200px) {
                      font-size: 14px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 13px;
                    }
                  }
                  input[type="checkbox"] {
                    -webkit-appearance: none;
                    width: 25px;
                    height: 25px;
                    background: #ffffff;
                    cursor: pointer;
                    position: relative;
                    border-radius: 7px;
                    margin-top: 25px;
                    border: 2px solid #d8e1e8;
                  }
                  input[type="checkbox"]:checked {
                    background-color: blue;
                  }
                  input[type="checkbox"]:before,
                  input[type="checkbox"]:checked:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 1.5em;
                    text-align: center;
                    color: white;
                  }
                  input[type="checkbox"]:checked:before {
                    content: "✔";
                  }
                  input[type="submit"] {
                    padding: 15px 21px;
                    display: block;
                    width: 100%;
                    font-family: "Futura PT";
                    font-style: normal;
                    font-weight: 450;
                    font-size: 24px;
                    line-height: 31px;
                    text-align: center;
                    color: #ffffff;
                    background: #5956e9;
                    border-radius: 21px;
                    border: none;
                    margin-top: 31px;
                    cursor: pointer;

                    @media screen and (max-width: 1200px) {
                      font-size: 22px;
                    }
                    @media screen and (max-width: 992px) {
                      font-size: 20px;
                    }
                  }

                  @media screen and (max-width: 336px) {
                    padding: 41px 10px;
                  }
                }

                @media screen and (max-width: 1200px) {
                  width: 100%;
                }
              }
              &:nth-of-type(2) {
                width: 50%;
                img {
                  display: block;
                  margin: auto;
                  width: 100px;
                  height: 100px;
                }
                p {
                  font-family: "Futura PT";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 30px;
                  line-height: 38px;
                  text-align: center;
                  color: #16171b;

                  @media screen and (max-width: 1200px) {
                    font-size: 26px;
                  }
                  @media screen and (max-width: 992px) {
                    font-size: 22px;
                  }
                }
                @media screen and (max-width: 1200px) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      footer {
        padding: 0 20%;
        margin-top: 277px;

        @media screen and (max-width: 722px) {
          padding: 0 5%;
        }

        img {
          display: block;
          margin-bottom: 89px;

          @media only screen and (max-width: 768px) {
            width: 203px;
            height: 44.82px;
          }
        }
        p {
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 21px;
          color: #16171b;

          @media screen and (max-width: 1200px) {
            font-size: 14px;
          }
          @media screen and (max-width: 992px) {
            font-size: 13px;
          }
        }
      }

      @media screen and (min-width: 1920px) {
        margin: auto;
        max-width: 1920px;
      }
    }
  }
}
